<div class="toolbar">
  <!-- SAVE -->
  <button class="toolbar-item">
    <i class="far fa-save"></i>
  </button>
  <!-- OPEN -->
  <button class="toolbar-item">
    <i class="far fa-folder"></i>
  </button>
  <!-- SELECT -->
  <button class="toolbar-item">
    <i class="fas fa-vector-square"></i>
  </button>
  <!-- PENCIL -->
  <button class="toolbar-item">
    <i class="fas fa-pencil-alt"></i>
  </button>
  <!-- ERASER -->
  <button class="toolbar-item">
    <i class="fas fa-eraser"></i>
  </button>
  <!-- FILL -->
  <button class="toolbar-item">
    <i class="fas fa-fill-drip"></i>
  </button>
  <!-- SHAPES -->
  <button class="toolbar-item">
    <i class="fas fa-shapes"></i>
  </button>
  <!-- TEXT -->
  <button class="toolbar-item">
    <i class="fas fa-font"></i>
  </button>
  <!-- COLOR 1 -->
  <!-- COLOR 2 -->
  <!-- COLORS -->
  <div class="colors">
    <input type="color" [formControl]="colorControl">
  </div>
</div>
