<div class="main-container">
  <div
    [style.width]="dimensions.width"
    [style.height]="dimensions.height"
    class="canvas-container"
  >
    <canvas #canvas class="canvas {{ cursor }}"></canvas>
    <textarea
      id="text"
      [formControl]="text"
      [style.left]="textAxes.x + 'px'"
      [style.font-family]="textStyle.family"
      [style.font-size]="textStyle.height"
      *ngIf="type === 'text' && drawing"
      [style.top]="textAxes.y + 'px'"
      class="custom"
      cols="20"
      rows="1"
    ></textarea>

    <div
    *ngIf="type==='select'"
      id="select"
      [style.left]="prevAxes.x + 'px'"
      [style.width]="actualAxes.x - prevAxes.x + 'px'"
      [style.height]="actualAxes.y - prevAxes.y + 'px'"
      [style.top]="prevAxes.y + 'px'"
      class="select-container"
    ></div>

  </div>
</div>
